@*@model Practica4.Models.Entities.Post
@{
    ViewData["Title"] = Model.Title;
}

<h2>@Model.Title</h2>

<div class="post-body">
    @Model.Text
</div>

<div>
    Posted by @Model.Author
    on @Model.Date.ToString("d")
</div>*@
@model IEnumerable<Practica4.Models.Entities.Post>
@{
   ViewData["Title"] = "Latest posts";
}
<h2>@ViewData["Title"]</h2>
<ul>
@foreach (var post in Model)
{
   <li>
      <h3>@post.Title</h3>
      <div>
                Posted by @post.Author on @post.Date.ToString("d") 
                @*| <a href="/blog/@post.Slug">Read post...</a>*@
                | <a asp-controller="blog" asp-action="viewpost" asp-route-slug="@post.Slug">
                    Read post...
                </a>
      </div>
   </li>
}
</ul>
