@model DEMOValidatioCliente.Models.ViewModels.CreateUserViewModel

<table class="table">
    <tr>
        <td class="display-label">Username</td>
        <td>@Model.Username</td>
    </tr>
    <tr>
        <td class="display-label">FullName</td>
        <td>@Model.FullName</td>
    </tr>
    <tr>
        <td class="display-label">Username</td>
        <td>@Model.Username</td>
    </tr>
    <tr>
        <td class="display-label">Email</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td class="display-label">Password</td>
        <td>@Model.Password</td>
    </tr>
    <tr>
        <td class="display-label">Enabled</td>
        <td>@Model.Enabled</td>
    </tr>
</table>

